
* {   font-family: "Gideon Roman", serif;
    font-weight: 400;
    font-style: normal;}
#one { color: black; background-color: chocolate; text-align: center;}
#yz {font-size: 25px;}
#xyz {font-size: 10px;}